[worldserver]

###################################################################################################
# SOLO LFG
###################################################################################################

#    SoloLFG.Enable
#        Description: Enable the module
#        Default:     1  - (Enabled)
#                     0  - (Disabled)


SoloLFG.Enable = 1

#    SoloLFG.Announce
#        Description: Announce the module
#        Default:     1  - (Enabled)
#                     0  - (Disabled)

SoloLFG.Announce = 1

#    SoloLFG.FixedXP
#        Description: Set the XP rate in dungeons to 1.0
#        Default:     1  - (Enabled)
#                     0  - (Disabled)
#

SoloLFG.FixedXP = 1

###################################################################################################
